## exportPattern("^[^\\.]")
S3method(plot,curvHDRfilter)
export(curvHDRfilter)
export(curvHDRvignette)
useDynLib(curvHDR, .registration = TRUE, .fixes = "C_")
importFrom(stats,IQR)
importFrom(stats,sd)
importFrom(stats,qnorm)
importFrom(stats,quantile)
importFrom(graphics,polygon)
importFrom(graphics,hist)
importFrom(graphics,plot)
importFrom(grDevices,contourLines)
importFrom(grDevices,chull)
importFrom(rgl,rgl.clear)
importFrom(rgl,rgl.bg)
importFrom(rgl,rgl.spheres)
importFrom(rgl,rgl.texts)
importFrom(rgl,rgl.quads)
importFrom(rgl,rgl.lines)
importFrom(feature,featureSignif)
importFrom(misc3d,drawScene.rgl)
importFrom(misc3d,contour3d)
importFrom(misc3d,updateTriangles)
importFrom(misc3d,makeTriangles)
importFrom(geometry,convhulln)
importFrom(geometry,extprod3d)
importFrom(ptinpoly,pip3d)
importFrom(ks,hpi)
importFrom(ks,Hpi.diag)
importFrom(ks,kde)
importFrom(ks,contourLevels)
importFrom(hdrcde,hdr)
importFrom(KernSmooth,dpik)
importFrom(utils,vignette)
